<!DOCTYPE html>
<html>
<head>
    <title>Escolha de Cobertura</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Escolha sua Cobertura</h1>
    <form action="/pagamento" method="get">
        <label>
            <input type="radio" name="cobertura" value="morango"> Morango
        </label>
        <label>
            <input type="radio" name="cobertura" value="chocolate"> Chocolate
        </label>
        <button type="submit">Próximo</button>
    </form>
</body>
</html>
