<!DOCTYPE html>
<html>
<head>
    <title>Escolha de Preço</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Escolha o Preço do Guaraná</h1>
    <form action="/cobertura" method="get">
        <label>
            <input type="radio" name="preco" value="8"> R$8
        </label>
        <label>
            <input type="radio" name="preco" value="9"> R$9
        </label>
        <button type="submit">Próximo</button>
    </form>
</body>
</html>
