<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha o Preço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Escolha o Preço do Guaraná</h1>
    <form action="/cobertura" method="POST">
        <button name="preco" value="8">Guaraná - R$8</button>
        <button name="preco" value="9">Guaraná - R$9</button>
    </form>
</body>
</html>
